@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import './assets/css/header.css';
@import './assets/css/footer.css';
@import './assets/css/home.css';
@import './assets/css/profile.css';

body{
    background-color: #BFDEEE;
}

.btn-style{
    text-decoration: none;
    padding: 15px 25px;
    background-color: #007CBC ;
    transition: background-color 0.3s;
    border-radius: 10px;
    color: white;
}

.btn-style.btn-style-sm{
    padding: 8px 20px;
    font-size: 14px;
}


.btn-style:hover{
    text-decoration: none;
    background-color: #AC0265 ;
    color: white;
}

.section-style{
    padding: 50px 0;
}

.margin-btm-30{ 
    margin-bottom: 30px;
}